
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}

header{
  height: 80px;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

header img{
  width: 200px;
}



 input{
  width: 200px;
  height: 30px;
  padding: 3px 0 3px 10px;
  outline: none;
  line-height: 100px;
}

.fas.fa-search{
  font-size: 30px;
  vertical-align: middle;
}


.box-film,
.box-serie-tv{
  border:1px solid #000;
}

.fas.fa-star{
  color: orange;
}

.box-film img,
.box-serie-tv img{
  width: 15px;
}
