<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue Boolflix</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="app">
      <input type="text" placeholder="Scrivi qualcosa" v-model="searchBar" @keyup.enter="apiCall">
      <button @click="apiCall">Cerca film</button>
      <div class="box-film" v-for="film in filteredFilm">
        <h2>Titolo: {{film.title}}</h2>
        <h3>Titolo originale: {{film.originalTitle}}</h3>
        <span>Lingua: {{film.originalLanguage}}</span><br>
        <span>Voto: {{film.vote}}</span>
      </div>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>